{
  "openapi": "3.1.0",
  "info": {
    "title": "LazyApp API",
    "version": "v1",
    "description": "One WhatsApp API for developers, SaaS platforms and businesses.\n\nEvery endpoint is Bearer-authenticated with a LazyApp API key, returns JSON, and is scoped to the workspace and mode (`live` or `test`) the key belongs to.",
    "contact": {
      "name": "LazyApp support",
      "url": "https://lazyapp.in"
    }
  },
  "servers": [
    {
      "url": "https://lazyapp.in",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Messages",
      "description": "Send and schedule WhatsApp messages."
    },
    {
      "name": "Contacts",
      "description": "The people you message, and their identifiers."
    },
    {
      "name": "Conversations",
      "description": "Threads and their message history."
    },
    {
      "name": "Calls",
      "description": "WhatsApp call history for the workspace."
    },
    {
      "name": "Templates",
      "description": "Create, submit and sync message templates."
    },
    {
      "name": "Media",
      "description": "Upload, retrieve and delete media."
    },
    {
      "name": "Broadcasts",
      "description": "Template sends to many contacts at once."
    },
    {
      "name": "Events",
      "description": "Say what happened; LazyApp picks the template."
    },
    {
      "name": "Flows",
      "description": "WhatsApp Flows and their responses."
    },
    {
      "name": "Webhooks",
      "description": "Register endpoints and inspect deliveries."
    },
    {
      "name": "Workflows",
      "description": "Automations and their executions."
    },
    {
      "name": "Verify",
      "description": "One-time passcodes over WhatsApp."
    },
    {
      "name": "Capabilities",
      "description": "What each connected number supports."
    },
    {
      "name": "Catalog",
      "description": "Proxy Meta Commerce catalog products for a connection."
    },
    {
      "name": "Platform",
      "description": "Manage customers if you resell LazyApp."
    },
    {
      "name": "Meta-compatible proxy",
      "description": "Drop-in endpoints for existing Cloud API integrations."
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send a message",
        "description": "Send any supported WhatsApp message type. Set `send_at` to schedule instead of sending now, which returns `202` with a scheduled message id.\n\n`type` defaults to `text`. Address the recipient with `to`, or with `recipient.type`/`recipient.value` to send to a BSUID.\n\n**Required scope:** `messages:send`",
        "responses": {
          "201": {
            "description": "Message accepted and sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "202": {
            "description": "Scheduled for later delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledAccepted"
                }
              }
            }
          },
          "402": {
            "description": "Spending limit or wallet balance exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed, or the send was refused. Refusals include a stable `code` — `customer_service_window_closed`, `contact_suppressed`, `marketing_opt_out`, or `no_connection`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "template",
                      "image",
                      "document",
                      "audio",
                      "video",
                      "sticker",
                      "location",
                      "contacts",
                      "interactive",
                      "reaction"
                    ],
                    "description": "Defaults to `text`."
                  },
                  "to": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "E.164 phone number, e.g. `+919812345670`."
                  },
                  "recipient": {
                    "$ref": "#/components/schemas/Recipient"
                  },
                  "send_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Schedule for later. Must be in the future."
                  },
                  "ttl_seconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 2592000,
                    "description": "Drop the message if it cannot be sent within this window."
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 4096,
                    "description": "Text body, or media caption fallback."
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "message_id": {
                        "type": "string",
                        "maxLength": 128
                      }
                    }
                  },
                  "template": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "language": {
                        "type": "string",
                        "maxLength": 16
                      },
                      "components": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {}
                        }
                      },
                      "category": {
                        "type": "string",
                        "maxLength": 32
                      }
                    }
                  },
                  "media_id": {
                    "type": "string",
                    "maxLength": 128,
                    "description": "A previously uploaded media id."
                  },
                  "media_url": {
                    "type": "string",
                    "maxLength": 2048,
                    "description": "Public URL LazyApp fetches and uploads."
                  },
                  "caption": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "filename": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Location name."
                  },
                  "address": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "contacts": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 5,
                    "items": {
                      "type": "object",
                      "properties": {}
                    }
                  },
                  "interactive": {
                    "type": "object",
                    "properties": {}
                  },
                  "reaction": {
                    "type": "object",
                    "properties": {
                      "message_id": {
                        "type": "string",
                        "maxLength": 256
                      },
                      "emoji": {
                        "type": "string",
                        "maxLength": 32
                      }
                    }
                  },
                  "idempotency_key": {
                    "type": "string",
                    "maxLength": 128,
                    "description": "Legacy body-level dedupe. Prefer the Idempotency-Key header."
                  },
                  "phone_number_id": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Send from a specific number."
                  },
                  "connection_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "metadata": {
                    "type": "object",
                    "maxProperties": 20,
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 512
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{message}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Retrieve a message",
        "description": "Fetch a message by uuid and read its current status from LazyApp's record (`queued` → `sent` → `delivered` → `read` / `played`, or `failed`). Prefer webhooks for production; this endpoint is for confirmation and debugging.\n\n**Required scope:** `messages:read`",
        "parameters": [
          {
            "name": "message",
            "in": "path",
            "required": true,
            "description": "Message uuid.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/direct-send": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send without an approved template",
        "description": "For numbers enrolled in Meta's direct-send programme. `category` must be `utility` or `authentication`; marketing is not eligible.\n\n**Required scope:** `messages:send`",
        "responses": {
          "201": {
            "description": "Sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "maxLength": 32
                  },
                  "recipient": {
                    "$ref": "#/components/schemas/Recipient"
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "utility",
                      "authentication"
                    ]
                  },
                  "message_ttl": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "message_id": {
                        "type": "string",
                        "maxLength": 128
                      }
                    }
                  },
                  "idempotency_key": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "phone_number_id": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "connection_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "metadata": {
                    "type": "object",
                    "maxProperties": 20,
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 512
                    }
                  }
                },
                "required": [
                  "body",
                  "category"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/messages/scheduled": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List scheduled messages",
        "description": "Messages queued for future delivery that have not been sent yet.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "A page of scheduled messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledMessageList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/messages/scheduled/{scheduled}": {
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Cancel a scheduled message",
        "description": "Cancels a message that has not been sent. Already-sent messages cannot be recalled.\n\n**Required scope:** `messages:send`",
        "responses": {
          "204": {
            "description": "Cancelled. No content."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "scheduled",
            "in": "path",
            "required": true,
            "description": "The scheduled message id.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "description": "Newest first.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "A page of contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Match against phone number, external id or email.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create or update a contact",
        "description": "Upserts on whichever identifier you supply: phone number, BSUID or external id. At least one is required.\n\n**Required scope:** `messages:send`",
        "responses": {
          "200": {
            "description": "Updated an existing contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "201": {
            "description": "Created a new contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Required unless bsuid or external_id is given."
                  },
                  "bsuid": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "external_id": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "username": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255
                  },
                  "preferred_language": {
                    "type": "string",
                    "maxLength": 16
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA timezone, e.g. `Asia/Kolkata`."
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contact}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a contact",
        "description": "By LazyApp uuid or phone number. Includes `service_window` so you can choose text or template before sending.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "The contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact uuid.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Only the fields you send change.\n\n**Required scope:** `messages:send`",
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact uuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "external_id": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "preferred_language": {
                    "type": "string",
                    "maxLength": 16
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "attributes": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contact}/merge": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Merge two contacts",
        "description": "Folds the `source` contact into this one. Merging is deliberate and irreversible: identifiers, conversations and consent move across.\n\n**Required scope:** `messages:send`",
        "responses": {
          "200": {
            "description": "Merged. Returns the surviving contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "The surviving contact's uuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The contact to absorb, by uuid or phone number."
                  }
                },
                "required": [
                  "source"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contact}/suppress": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Suppress a contact",
        "description": "Records an opt-out. Suppressed contacts are excluded from broadcasts and marketing sends for the given purpose.\n\n**Required scope:** `messages:send`",
        "responses": {
          "200": {
            "description": "Suppressed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suppressed"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact uuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "string",
                    "description": "What they opted out of. Defaults to `marketing`."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Free text. Defaults to `api_suppression`."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "List conversations",
        "description": "Most recently active first.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "A page of conversations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/conversations/{conversation}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Retrieve a conversation",
        "description": "By conversation id.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "The conversation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "conversation",
            "in": "path",
            "required": true,
            "description": "Conversation id.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/conversations/{conversation}/messages": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "List messages in a conversation",
        "description": "Newest first.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "A page of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "conversation",
            "in": "path",
            "required": true,
            "description": "Conversation id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/calls": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "List calls",
        "description": "Newest first. Call history from WhatsApp webhooks — not a live answer API.\n\n**Required scope:** `messages:read`",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of calls.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calls/{call}": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Retrieve a call",
        "description": "By LazyApp call uuid.\n\n**Required scope:** `messages:read`",
        "parameters": [
          {
            "name": "call",
            "in": "path",
            "required": true,
            "description": "Call uuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Call not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List templates",
        "description": "Includes status and rejection reasons.\n\n**Required scope:** `templates:read`",
        "responses": {
          "200": {
            "description": "A page of templates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a template",
        "description": "Creates a template and, with `submit: true`, submits it to Meta for review. Names must be lowercase snake case and unique per language.\n\n**Required scope:** `templates:write`",
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 512,
                    "pattern": "^[a-z0-9_]+$"
                  },
                  "language": {
                    "type": "string",
                    "maxLength": 16
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "AUTHENTICATION",
                      "UTILITY",
                      "MARKETING"
                    ]
                  },
                  "body_text": {
                    "type": "string",
                    "maxLength": 1024,
                    "description": "Use `{{1}}`-style placeholders."
                  },
                  "body_examples": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "maxLength": 255
                    }
                  },
                  "footer_text": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "header": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "type": "string",
                        "enum": [
                          "NONE",
                          "TEXT",
                          "IMAGE",
                          "VIDEO",
                          "DOCUMENT"
                        ]
                      },
                      "text": {
                        "type": "string",
                        "maxLength": 60
                      }
                    }
                  },
                  "buttons": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "QUICK_REPLY",
                            "URL",
                            "PHONE_NUMBER",
                            "OTP",
                            "FLOW"
                          ]
                        },
                        "text": {
                          "type": "string",
                          "maxLength": 25
                        },
                        "url": {
                          "type": "string",
                          "maxLength": 2000,
                          "description": "Must be https."
                        },
                        "phone_number": {
                          "type": "string",
                          "maxLength": 32
                        },
                        "flow_id": {
                          "type": "string",
                          "maxLength": 64
                        }
                      },
                      "required": [
                        "type"
                      ]
                    }
                  },
                  "submit": {
                    "type": "boolean",
                    "description": "Submit to Meta immediately."
                  }
                },
                "required": [
                  "name",
                  "language",
                  "category",
                  "body_text"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/templates/sync": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Sync templates from Meta",
        "description": "Pulls the current template list and statuses from Meta into LazyApp. Use after editing templates in Business Manager.\n\n**Required scope:** `templates:write`",
        "responses": {
          "200": {
            "description": "How many templates were synced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateSynced"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v1/templates/{template}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Retrieve a template",
        "description": "By uuid or name.\n\n**Required scope:** `templates:read`",
        "responses": {
          "200": {
            "description": "The template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "description": "Template uuid or name.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template",
        "description": "Deletes at Meta and marks the local record deleted.\n\n**Required scope:** `templates:write`",
        "responses": {
          "204": {
            "description": "Deleted. No content."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "description": "Template uuid or name.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/media": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List media",
        "description": "Newest first.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "A page of media.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload media",
        "description": "Multipart upload. The file is virus-scanned and MIME-checked, images are optimised, and a thumbnail is generated.\n\n**Required scope:** `media:write`",
        "responses": {
          "201": {
            "description": "Uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAsset"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "retention": {
                    "type": "string",
                    "enum": [
                      "provider_only",
                      "managed",
                      "customer_storage",
                      "no_retention"
                    ]
                  },
                  "phone_number_id": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "connection_uuid": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/media/url": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Import media from a URL",
        "description": "LazyApp fetches the URL and uploads the bytes to Meta, so you do not have to proxy the file yourself.\n\n**Required scope:** `media:write`",
        "responses": {
          "201": {
            "description": "Imported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAsset"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "maxLength": 2048,
                    "description": "http or https."
                  },
                  "filename": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "retention": {
                    "type": "string",
                    "enum": [
                      "provider_only",
                      "managed",
                      "customer_storage",
                      "no_retention"
                    ]
                  },
                  "phone_number_id": {
                    "type": "string",
                    "maxLength": 64
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/media/{media}": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Retrieve media metadata",
        "description": "Accepts the LazyApp uuid or Meta's media id. Reading is recorded in the asset's access history.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "The media asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAsset"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "media",
            "in": "path",
            "required": true,
            "description": "Media uuid or provider media id.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Media"
        ],
        "summary": "Delete media",
        "description": "Deletes the provider copy and any retained bytes. The access history survives, including this deletion.\n\n**Required scope:** `media:write`",
        "responses": {
          "204": {
            "description": "Deleted. No content."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "media",
            "in": "path",
            "required": true,
            "description": "Media uuid or provider media id.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/broadcasts": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "List broadcasts",
        "description": "Newest first.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "A page of broadcasts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Create a broadcast",
        "description": "Target either a saved segment or an explicit list of phone numbers. Opt-outs and frequency caps are enforced when the broadcast runs, not when it is created.\n\n**Required scope:** `messages:send`",
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Broadcast"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "template_name": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "language": {
                    "type": "string",
                    "maxLength": 16
                  },
                  "variable_map": {
                    "type": "object",
                    "properties": {}
                  },
                  "contact_segment_id": {
                    "type": "integer"
                  },
                  "phone_numbers": {
                    "type": "array",
                    "maxItems": 50000,
                    "items": {
                      "type": "string",
                      "maxLength": 32
                    }
                  },
                  "schedule_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "quiet_hours": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "pattern": "^\\d{1,2}:\\d{2}$"
                      },
                      "end": {
                        "type": "string",
                        "pattern": "^\\d{1,2}:\\d{2}$"
                      },
                      "timezone": {
                        "type": "string"
                      }
                    }
                  },
                  "frequency_cap_days": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365
                  },
                  "whatsapp_connection_id": {
                    "type": "integer"
                  },
                  "start": {
                    "type": "boolean",
                    "description": "Start immediately after creating."
                  }
                },
                "required": [
                  "name",
                  "template_name",
                  "language"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/broadcasts/{broadcast}": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Retrieve a broadcast",
        "description": "Includes send statistics.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "The broadcast.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Broadcast"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "broadcast",
            "in": "path",
            "required": true,
            "description": "Broadcast uuid.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/broadcasts/{broadcast}/start": {
      "post": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Start a broadcast",
        "description": "Begins sending a draft or scheduled broadcast.\n\n**Required scope:** `messages:send`",
        "responses": {
          "202": {
            "description": "Started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Broadcast"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "broadcast",
            "in": "path",
            "required": true,
            "description": "Broadcast uuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "description": "Business events you have sent, newest first.\n\n**Required scope:** `messages:read`",
        "responses": {
          "200": {
            "description": "A page of events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–100. Defaults to 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Send an event",
        "description": "Events map to templates, so your application can say *what happened* and let LazyApp decide which template to send. `type` accepts the built-in library plus any event you have defined in the workspace.\n\nAddress the recipient with `recipient.phone_number`, or set `recipient.type` to `contact_id` and put the contact uuid in `recipient.value`.\n\n**Required scope:** `messages:send`",
        "responses": {
          "201": {
            "description": "Accepted. Returns the message the event produced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventAccepted"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "maxLength": 64,
                    "example": "order.shipped"
                  },
                  "recipient": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "phone_number",
                          "contact_id"
                        ]
                      },
                      "value": {
                        "type": "string",
                        "maxLength": 64,
                        "description": "Contact uuid when type is `contact_id`."
                      },
                      "phone_number": {
                        "type": "string",
                        "maxLength": 32,
                        "description": "Required unless addressing by contact_id."
                      }
                    }
                  },
                  "properties": {
                    "type": "object",
                    "properties": {}
                  },
                  "idempotency_key": {
                    "type": "string",
                    "maxLength": 191
                  }
                },
                "required": [
                  "type",
                  "recipient"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/events/{businessEvent}/replay": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Replay an event",
        "description": "Re-dispatches a past event under a fresh idempotency key, so a delivery that failed for a transient reason can be retried.\n\n**Required scope:** `messages:send`",
        "responses": {
          "201": {
            "description": "Replayed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventAccepted"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the required scope, or is restricted from this phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "businessEvent",
            "in": "path",
            "required": true,
            "description": "Event uuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Makes this write safe to retry: the same key replays the first response instead of acting twice.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v1/integrations/{source}/events": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Ingest an event from an external system",
        "description": "A generic ingress for third-party systems. The body is passed to workflows as the trigger payload, filtered by `source`, so an automation can be authored against whatever your CRM or storefront sends.\n\n**Required scope:** `messages:send`",
        "responses": {
          "202": {
            "description": "Accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "string"
                    },
                    "triggered": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
[...]
